.section {
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.description {
  position: absolute;
  left: var(--gutter);
  bottom: calc(var(--gutter) * 2.5);
  max-width: 650px;
  opacity: 0;
  transform: translateY(1rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.description.openInfo {
  opacity: 1;
  transform: translateY(0);
}

.description a {
  position: relative;
  color: var(--green-color);
  transition: color 0.3s ease;
}

.description a:hover {
  color: inherit;
}

.openOnDesktop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--text-color);
  padding: var(--gutter);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: none;
  /* letter-spacing: 0.03rem; */
}

@media only screen and (max-width: 768px) {
  .openOnDesktop {
    display: flex;
  }
}
