@font-face {
  font-family: "PressStart2P";
  src: url("./assets/fonts/PressStart2P-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root,
[data-theme="light"] {
  --background-color: #f5f5f5;
  --text-color: #020202;
  --green-color: #2cff05;
  --gutter: 1.5rem;
}

[data-theme="dark"] {
  --background-color: #020202;
  --text-color: #f5f5f5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "PressStart2P", sans-serif;
}

main {
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 0.79rem;
  letter-spacing: 0.03rem;
  line-height: 2;
}

.canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background: var(--background-color);
}
